#presentation_welcome_message {
    color: #fff;
    font-size: 5rem;
    margin-top: 5rem;
}

.presentation_footer_button {
    font-weight: bold;
    background-color: #3a0a53;
    color: white;
}

page-presentation {

    font-family: 'Avenir', sans-serif;

    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
    }

    ion-header img {
        opacity: 0.8;
        padding: 20px;
    }

    ion-slides {
        height: 200px;
        position: absolute;
        bottom: 0;

        ion-slide {
            color: #fff;
        }

        h4 {
            font-weight: bold;
        }

        .swiper-pagination-bullet {
            background: map-get($colors, light);
        }

    }

    button {
        font-weight: bold;
    }

}
