page-home {

}

ion-title{
    text-align: center;
}
h2{
    text-align: center;
}
.box {
    width:100%;
    display:inline-block;
    border:2px solid black;
    padding: 10px;
    margin: 5px;
}



ion-scroll {
    white-space: nowrap;
    height: 100px;
}
 