page-library {

    #bg-style {
        background: color($colors, dark, base)
    }

    #user-playlists, .generated-playlist {
        background: color($colors, dark);
        margin: -1px 0px 0px !important;
    }

    .playlist-name {
        font-weight: bold;
        font-size: 2rem;
    }

    .playlist-item {
        background: color($colors, dark);
    }

    .song-avatar {
        height: 60px !important;
        width: 60px !important;
    }

    .song-name {
        font-size: 1.7rem;
        color: white;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .slide-button-option {
        background: red;
    }

    // Generate playlists using tags
    .autocomplete_artist {
        background-color: color($colors, dark);
        color: white;
        font-weight: 500;
    }

    .search-chip {
        background-color: color($colors, purple);
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .chip-button {
        background-color: color($colors, purple);
        font-size: 1.5rem
    }

    .generated-playlist-label {
        color: white;
        margin-left: 15px;
        margin-bottom: 15px;
    }

}
