page-discover {

    .my-loading-class {
        background-color: transparent;
        box-shadow: none;
    }

    ion-title {
        text-align: center;
        margin-right: 4.5rem;
    }

    .bg-style {
        background: color($colors, dark, base)
    }

    .search-chip {
        background-color: color($colors, purple);
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .chip-button {
        background-color: color($colors, purple);
        font-size: 1.5rem
    }

    #search-bar {
        border-bottom: 1px solid white;
    }

    .result-card {
        background-color: color($colors, dark);
        margin-bottom: 3rem;
        webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    }

    .result-card-content {
        background-color: color($colors, dark);
        -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
        webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
        text-align: center;
    }
    .result-name {
        color: white;
        font-weight: bold;
        font-size: 1.7rem;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // Circle result cards

    .search-result-artists {
        margin-top: -10px;
    }

    .result-card_round {
        display: inline-block;
        width: 100%;
        border-radius: 0px;
        margin-left: 0px;
        webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
        margin-bottom: -15px;
    }

    .result-card-item {
        background: color($colors, dark);
    }

    .result-card-image {
        margin: auto;
        width: 100% !important;
        height: 15rem !important;
    }

    .result-card-content {
        background: color($colors, dark);
        text-align: center;
        word-wrap: break-word;
    }

    .result-name {
        color: white;
        font-size: 1.9rem;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}
